@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --header-height: 56px;
  --font-inter: 'Inter', sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(98% 0.004 286.33);
  --foreground: oklch(10.91% 0.01 284.63);
  --card: oklch(98% 0.004 286.33);
  --card-foreground: oklch(10.91% 0.01 284.63);
  --popover: oklch(98% 0.004 286.33);
  --popover-foreground: oklch(10.91% 0.01 284.63);
  --primary: oklch(52.52% 0.112 281.23);
  --primary-foreground: oklch(98.27% 0.003 286.35);
  --secondary: oklch(78.18% 0.062 318.12);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(66.31% 0.106 329);
  --accent-foreground: oklch(98.27% 0.003 286.35);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(91.45% 0.024 319.45);
  --input: oklch(91.45% 0.024 319.45);
  --ring: oklch(82.7% 0.048 318.27);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(95.41% 0.009 286.22);
  --sidebar-foreground: oklch(10.91% 0.01 284.63);
  --sidebar-primary: oklch(52.52% 0.112 281.23);
  --sidebar-primary-foreground: oklch(10.91% 0.01 284.63);
  --sidebar-accent: oklch(66.31% 0.106 329);
  --sidebar-accent-foreground: oklch(98.27% 0.003 286.35);
  --sidebar-border: oklch(91.45% 0.024 319.45);
  --sidebar-ring: oklch(82.7% 0.048 318.27);
}

.dark {
  --background: oklch(10.83% 0.007 285.17);
  --foreground: oklch(98.27% 0.003 286.35);
  --card: oklch(10.83% 0.007 285.17);
  --card-foreground: oklch(98.27% 0.003 286.35);
  --popover: oklch(10.83% 0.007 285.17);
  --popover-foreground: oklch(98.27% 0.003 286.35);
  --primary: oklch(49.09% 0.113 280.77);
  --primary-foreground: oklch(98.27% 0.003 286.35);
  --secondary: oklch(34.93% 0.073 317.89);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(49.45% 0.112 329.56);
  --accent-foreground: oklch(98.27% 0.003 286.35);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(20.54% 0.034 319.45);
  --input: oklch(20.54% 0.034 319.45);
  --ring: oklch(47.78% 0.11 317.62);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(17.191% 0.0145 284.764);
  --sidebar-foreground: oklch(98.27% 0.003 286.35);
  --sidebar-primary: oklch(49.09% 0.113 280.77);
  --sidebar-primary-foreground: oklch(98.27% 0.003 286.35);
  --sidebar-accent: oklch(49.45% 0.112 329.56);
  --sidebar-accent-foreground: oklch(98.27% 0.003 286.35);
  --sidebar-border: oklch(20.54% 0.034 319.45);
  --sidebar-ring: oklch(47.78% 0.11 317.62);
}

@layer base {
  * {
    @apply border-border outline-ring/50 box-border font-inter;
  }

  html,
  body {
    @apply bg-background text-foreground m-0 p-0 overflow-y-hidden;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .h-default {
    @apply h-[calc(100dvh-var(--header-height))] min-h-[calc(100dvh-var(--header-height))];
  }

  .padding {
    @apply p-4;
  }

  .content {
    @apply size-full max-w-7xl mx-auto;
  }
}
