@import "tailwindcss";

@config "../tailwind.config.js";

@layer base {
  :root {
    --background: 300 7% 97%;
    --foreground: 0 0% 8%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 300 8% 95%;
    --popover-foreground: 0 0% 8%;
    --primary: 292 12% 63%;
    --primary-foreground: 0 0% 8%;
    --secondary: 291 10% 74%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 300 18% 90%;
    --muted-foreground: 0 0% 50%;
    --accent: 293 7% 52%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 288 10% 90%;
    --input: 288 10% 90%;
    --ring: 276 62% 49%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 300 7% 3%;
    --foreground: 0 0% 92%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 270 8% 5%;
    --popover-foreground: 0 0% 92%;
    --primary: 292 12% 37%;
    --primary-foreground: 0 0% 92%;
    --secondary: 291 10% 26%;
    --secondary-foreground: 210 40% 98%;
    --muted: 300 18% 10%;
    --muted-foreground: 0 0% 50%;
    --accent: 293 7% 48%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 288 10% 10%;
    --input: 288 10% 10%;
    --ring: 276 62% 49%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border box-border;
  }

  html,
  body {
    @apply m-0 p-0 bg-background text-foreground font-poppins;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-muted-foreground/20;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/80 rounded-full;
    transition: all 5s ease-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground/80;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-end {
    @apply flex items-center justify-end;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .blur-performance {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
  }
}
