name: Build & Deploy to GitHub Pages

on:
  release:
    types: [published]

  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy (defaults to main)"
        required: false
        default: "main"
      deployment_reason:
        description: "Reason for deployment"
        required: false
        default: "Manual deployment triggered by workflow_dispatch"

permissions:
  contents: read
  pages: read
  id-token: write

defaults:
  run:
    working-directory: apps/frontend

jobs:
  build-and-deploy:
    name: Build and Deploy to GitHub Pages
    runs-on: ubuntu-latest
    environment: gh-pages

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Get Release Version
        if: github.event_name == 'release'
        id: version
        run: |
          # Strip leading "v" if release tags are like v1.2.3
          VERSION=${GITHUB_REF_NAME#v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Update package.json version
        if: github.event_name == 'release'
        run: |
          npm version ${{ steps.version.outputs.version }} --no-git-tag-version

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "npm"
          cache-dependency-path: "apps/frontend/package-lock.json"

      - name: Cache Node Modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            apps/frontend/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('apps/frontend/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        env:
          HOST: ${{ vars.HOST }}
          AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
        run: npm run build

      - name: Setup Git Identity
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Deploy to GitHub Pages
        run: npx gh-pages -d dist --repo https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/fingertips18/fingertips18.github.io.git
